body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
p {
  color: brown;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  /* căn lề */
  text-align: center;
  /*  co chu */
  font-size: 20px;
}
